<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20983256912-leka1ctgt7sijt9ujuuaol16ls1d4t0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20983256912-leka1ctgt7sijt9ujuuaol16ls1d4t0m</string>
	<key>API_KEY</key>
	<string>AIzaSyBCCPcQxijuR0uqocajxT56KCqSS8xGqlE</string>
	<key>GCM_SENDER_ID</key>
	<string>20983256912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cc-n.reamp</string>
	<key>PROJECT_ID</key>
	<string>reamp-app</string>
	<key>STORAGE_BUCKET</key>
	<string>reamp-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20983256912:ios:de295205af2c5b51fbfe55</string>
</dict>
</plist>